<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #tinhForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="tinh.id">{{ l("EditTinh") }}</span>
                        <span *ngIf="!tinh.id">{{ l("CreateNewTinh") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Tinh_TenTinh">{{ l("TenTinh") }} *</label>
                        <input
                            type="text"
                            #Tinh_TenTinh="ngModel"
                            id="Tinh_TenTinh"
                            class="form-control"
                            [(ngModel)]="tinh.tenTinh"
                            name="TenTinh"
                            minlength="1"
                            maxlength="25"
                            required
                        />
                        <validation-messages [formCtrl]="Tinh_TenTinh"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!tinhForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
