@using Homies.RealEstate.Web.Areas.App.Models.Layout
@using Homies.RealEstate.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="light brand-logo">
    @await Component.InvokeAsync(typeof(AppLogoViewComponent), new {LogoSkin = "dark-sm", logoClass = "max-h-30px"})
</a>
