<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #huyenForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="huyen.id">{{ l("EditHuyen") }}</span>
                        <span *ngIf="!huyen.id">{{ l("CreateNewHuyen") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="TinhTenTinh">{{ l("Tinh") }}</label>
                        <div class="input-group">
                            <input class="form-control" id="TinhTenTinh" name="tinhTenTinh" [(ngModel)]="tinhTenTinh" type="text" disabled />
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTinhModal()" type="button">
                                    <i class="fa fa-search"></i> {{ l("Pick") }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setTinhIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="huyen.tinhId" [(ngModel)]="huyen.tinhId" type="text" hidden />

                    <div class="form-group">
                        <label for="Huyen_TenHuyen">{{ l("TenHuyen") }} *</label>
                        <input
                            type="text"
                            #Huyen_TenHuyen="ngModel"
                            id="Huyen_TenHuyen"
                            class="form-control"
                            [(ngModel)]="huyen.tenHuyen"
                            name="TenHuyen"
                            minlength="1"
                            maxlength="25"
                            required
                        />
                        <validation-messages [formCtrl]="Huyen_TenHuyen"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!huyenForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <huyenTinhLookupTableModal #huyenTinhLookupTableModal (modalSave)="getNewTinhId()"></huyenTinhLookupTableModal>
</div>
