@using Homies.RealEstate.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("DelegateNewUser")))

<div class="modal-body">
    <form name="DelegateUserModalForm" role="form" novalidate class="form-validation">
        <div class="form-group">
            <label for="UsernameOrEmailAddress">@L("UserName")</label>
            <div class="input-group">
                <input id="UsernameOrEmailAddress" class="form-control" type="text" required readonly="readonly" disabled="disabled">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">@L("Search")</button>
                </div>
            </div>
            <input id="TargetUserId" class="form-control" type="hidden" name="TargetUserId" required>
        </div>

        <div class="form-group">
            <label for="StartTime">@L("StartTime")</label>
            <input id="StartTime" type="text" name="StartTime" class="form-control date-time-picker" required>
        </div>

        <div class="form-group">
            <label for="EndTime">@L("EndTime")</label>
            <input id="EndTime" type="text" name="EndTime" class="form-control date-time-picker" required>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")