@using Homies.RealEstate.Web.Areas.App.Models.Common.Modals

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("VerifyYourCode")))

<div class="modal-body">    
    <form name="SmsVerificationModalForm">
        <div class="form-group">
            <div  id="inputDiv" class="form-group">
                <label for="YourCode">@L("YourCode")</label>
                <input id="YourCode" class="form-control edited" type="text" name="Code" required maxlength="6" minlength="6">
                <input type="hidden" name="PhoneNumber"/>
            </div>
        </div>
        <button id="verifyButton" class="btn btn-primary">@L("Verify")</button>
    </form>
</div>
