@using Homies.RealEstate.Web.Areas.App.Models.Common
@using Homies.RealEstate.Web.Areas.App.Models.Common.Modals
@model IPermissionsEditViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel( L("SelectPermissions")))

<div class="modal-body">
    <div id="PermissionFilterTree">
        @await Html.PartialAsync("~/Areas/App/Views/Common/_PermissionTree.cshtml", Model)
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">@L("Select")</button>
</div>

