<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ThuocTinhs' | localize" [description]="'ThuocTinhsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l("ExportToExcel") }}</button>

                <button *ngIf="isGranted('Pages.ThuocTinhs.Create')" (click)="createThuocTinh()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l("CreateNewThuocTinh") }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filterText"
                                                name="filterText"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="l('SearchWithThreeDot')"
                                                type="text"
                                            />
                                            <span class="input-group-btn">
                                                <button (click)="getThuocTinhs()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="kt-separator kt-separator--border-dashed"></div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="TenThuocTinhFilter">{{ l("TenThuocTinh") }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="TenThuocTinhFilter"
                                            name="tenThuocTinhFilter"
                                            [(ngModel)]="tenThuocTinhFilter"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="KieuDuLieuFilter">{{ l("KieuDuLieu") }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="KieuDuLieuFilter"
                                            name="kieuDuLieuFilter"
                                            [(ngModel)]="kieuDuLieuFilter"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="TrangThaiFilter">{{ l("TrangThai") }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="TrangThaiFilter"
                                            name="trangThaiFilter"
                                            [(ngModel)]="trangThaiFilter"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                        ><i class="fa fa-angle-down"></i> {{ l("ShowAdvancedFilters") }}</span
                                    >
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                        ><i class="fa fa-angle-up"></i> {{ l("HideAdvancedFilters") }}</span
                                    >
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getThuocTinhs($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px" [hidden]="!isGrantedAny('Pages.ThuocTinhs.Edit', 'Pages.ThuocTinhs.Delete')">
                                            {{ l("Actions") }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="tenThuocTinh">
                                            {{ l("TenThuocTinh") }}
                                            <p-sortIcon field="thuocTinh.tenThuocTinh"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="kieuDuLieu">
                                            {{ l("KieuDuLieu") }}
                                            <p-sortIcon field="thuocTinh.kieuDuLieu"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="trangThai">
                                            {{ l("TrangThai") }}
                                            <p-sortIcon field="thuocTinh.trangThai"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr>
                                        <td style="width: 130px" [hidden]="!isGrantedAny('Pages.ThuocTinhs.Edit', 'Pages.ThuocTinhs.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span> {{ l("Actions") }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item" (click)="viewThuocTinhModal.show(record)">{{
                                                            l("View")
                                                        }}</a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.ThuocTinhs.Edit')"
                                                            class="dropdown-item"
                                                            (click)="createOrEditThuocTinhModal.show(record.thuocTinh.id)"
                                                            >{{ l("Edit") }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.ThuocTinhs.Delete')"
                                                            (click)="deleteThuocTinh(record.thuocTinh)"
                                                            >{{ l("Delete") }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l("TenThuocTinh") }}</span>
                                            {{ record.thuocTinh.tenThuocTinh }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l("KieuDuLieu") }}</span>
                                            {{ record.thuocTinh.kieuDuLieu }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l("TrangThai") }}</span>
                                            {{ record.thuocTinh.trangThai }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l("NoData") }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getThuocTinhs($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditThuocTinhModal #createOrEditThuocTinhModal (modalSave)="getThuocTinhs()"></createOrEditThuocTinhModal>
        <viewThuocTinhModal #viewThuocTinhModal></viewThuocTinhModal>
    </div>
</div>
