.input-group {
  span.input-group-btn {
    button {
      border-bottom-right-radius: 3.5px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 3.5px;
      border-top-left-radius: 0px;

      i {
        font-size: 1rem;
        color: white;
        padding-right: 0px;
      }
    }
  }
}

html[dir=rtl] {
  .input-group {
    span.input-group-btn {
      button {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 3.5px;
        border-top-right-radius: 0px;
        border-top-left-radius: 3.5px;
      }
    }
  }

  .ps__rail-y {
    right: auto !important;
    left: 0;
  }

  .dataTables_wrapper div.bottom {
    text-align: right !important;

    div.dataTables_paginate {
      float: left !important;
    }
  }

  .checkbox span, .radio span {
    margin-left: 0.75rem !important;
  }
}

.small-profile-pic {
  height: 30px;
}

.easy-pie-chart {
  text-align: center;
}

.easy-pie-chart .number {
  font-size: 14px !important;
  font-weight: 300;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 75px;
  height: 75px;
  line-height: 75px;
}

.easy-pie-chart .number canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.easy-pie-chart .title {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.easy-pie-chart .title:hover {
  text-decoration: none;
}

.easy-pie-chart .title > i {
  margin-top: 5px;
}

.modal {
  .modal-content {
    .modal-header .close {
      &:before {
        cursor: pointer !important;
      }
    }
  }
}


#kt_demo_panel .offcanvas-content .offcanvas-demo {
  cursor: pointer;

  &:hover {
    border: 5px solid #3699ff;
  }
}

.searchMenuContainerSelect2 .select2-container {
  width: 214px;
}

.searchMenuContainerSelect2 span.select2-selection.select2-selection--single:before {
  content: "\f2eb";
  position: absolute;
  left: 20px;
  top: 15px;
  display: inline-block;
  font: normal normal normal 16px/1 "LineAwesome";
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.searchMenuContainerSelect2 .select2-selection__rendered {
  font-family: "Poppins" !important;
  border-radius: 5px !important;
  margin-left: 14px !important;
  padding-left: 36px !important;
  height: 40px;
  line-height: 24px !important;
}

.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before {
  left: 50% !important;
  top: 50% !important;
}

.searchMenuDropDownSelect2, .searchMenuDropDownSelect2 input {
  font-family: "Poppins"
}

.searchMenuTop {
  .select2-container {
    width: 100% !important;
  }
}

.modal {
  overflow: auto !important;
}

#header_notification_bar .topbar-item,
kt_quick_sidebar_toggle {
  position: relative;
}


.checkbox span, .radio span {
  margin-right: 0.75rem;
}

body.aside-minimize #kt_brand {
  width: 70px;
}
