.blur {
    filter: blur(10px);
}

#secret-view-btn {
    position: absolute;
    top: 0;
    left: 20px;
    cursor: pointer;
}

#portlet-detail .form-group div {
    padding: 8px;
}

#SendAttemptDetailModal .modal-body {
    overflow-wrap: break-word;
}
