<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader>
    </abp-page-subheader>
    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-custom alert-primary fade show" role="alert">
                    <div class="alert-icon">
                        <i class="flaticon-information" aria-label="@L("Welcome")"></i>
                    </div>
                    <div class="alert-text">
                        <h4 class="alert-heading">@L("WelcomePage_Title")</h4>
                        <p>@L("WelcomePage_Info")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
