@using Homies.RealEstate.Web.Areas.App.Models.Layout
@using Homies.RealEstate.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="mt-5 brand-logo">
    @await Component.InvokeAsync(typeof(AppLogoViewComponent), new {logoSkin = "dark-2", logoClass="max-h-35px"})
</a>
