<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #baiGhimYeuThichForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="baiGhimYeuThich.id">{{ l("EditBaiGhimYeuThich") }}</span>
                        <span *ngIf="!baiGhimYeuThich.id">{{ l("CreateNewBaiGhimYeuThich") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="UserName">{{ l("User") }}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled />
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button">
                                    <i class="fa fa-search"></i> {{ l("Pick") }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="baiGhimYeuThich.userId" [(ngModel)]="baiGhimYeuThich.userId" type="text" hidden />

                    <div class="form-group m-form__group">
                        <label for="BaiDangTieuDe">{{ l("BaiDang") }}</label>
                        <div class="input-group">
                            <input class="form-control" id="BaiDangTieuDe" name="baiDangTieuDe" [(ngModel)]="baiDangTieuDe" type="text" disabled />
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectBaiDangModal()" type="button">
                                    <i class="fa fa-search"></i> {{ l("Pick") }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setBaiDangIdNull()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="baiGhimYeuThich.baiDangId" [(ngModel)]="baiGhimYeuThich.baiDangId" type="text" hidden />

                    <div class="form-group">
                        <label for="BaiGhimYeuThich_ThoiGian">{{ l("ThoiGian") }}</label>
                        <input
                            required
                            class="form-control m-input"
                            #BaiGhimYeuThich_ThoiGian
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="baiGhimYeuThich.thoiGian"
                            id="BaiGhimYeuThich_ThoiGian"
                            name="BaiGhimYeuThich_ThoiGian"
                        />
                        <validation-messages [formCtrl]="BaiGhimYeuThich_ThoiGian"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="BaiGhimYeuThich_TrangThai">{{ l("TrangThai") }} *</label>
                        <input
                            type="text"
                            #BaiGhimYeuThich_TrangThai="ngModel"
                            id="BaiGhimYeuThich_TrangThai"
                            class="form-control"
                            [(ngModel)]="baiGhimYeuThich.trangThai"
                            name="TrangThai"
                            minlength="1"
                            maxlength="25"
                            required
                        />
                        <validation-messages [formCtrl]="BaiGhimYeuThich_TrangThai"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!baiGhimYeuThichForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <baiGhimYeuThichUserLookupTableModal #baiGhimYeuThichUserLookupTableModal (modalSave)="getNewUserId()"></baiGhimYeuThichUserLookupTableModal>
    <baiGhimYeuThichBaiDangLookupTableModal
        #baiGhimYeuThichBaiDangLookupTableModal
        (modalSave)="getNewBaiDangId()"
    ></baiGhimYeuThichBaiDangLookupTableModal>
</div>
