@using Homies.RealEstate.Web.Areas.App.Models.Common
@model IOrganizationUnitsEditViewModel

<div class="form-group">
    <input id="OrganizationTreeFilter" type="text" class="form-control" placeholder="@L("SearchWithThreeDot")">
</div>
<div class="organization-tree">
    @await Html.PartialAsync("~/Areas/App/Views/Common/_OrganizationUnitTreeItem.cshtml", new OrganizationUnitTreeItemModel(Model, null))
</div>