@using Homies.RealEstate.Web.Areas.App.Models.Common
@model IPermissionsEditViewModel

<div class="form-group">
    <input id="PermissionTreeFilter" type="text" class="form-control" placeholder="@L("SearchWithThreeDot")">
</div>
<div class="permission-tree">
    @await Html.PartialAsync("~/Areas/App/Views/Common/_PermissionTreeItem.cshtml", new PermissionTreeItemModel(Model, null))
</div>