@using Homies.RealEstate.Web.Areas.App.Models.Layout
@using Homies.RealEstate.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
    @await Component.InvokeAsync(typeof(AppLogoViewComponent), new {LogoSkin = "dark-2", logoClass = "mr-20"})
</a>
