@using Abp.Organizations
@using Homies.RealEstate.Web.Areas.App.Models.Common.Modals
@using Homies.RealEstate.Web.Areas.App.Models.OrganizationUnits
@model CreateOrganizationUnitModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("NewOrganizationUnit")))

<div class="modal-body">
    <form name="OrganizationUnitForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="ParentId" value="@Model.ParentId" />
        <div class="form-group">
            <label for="DisplayName">@L("Name")</label>
            <input id="DisplayName" class="form-control" type="text" name="DisplayName" required maxlength="@OrganizationUnit.MaxDisplayNameLength">
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")