@using Homies.RealEstate
@using Homies.RealEstate.Web.Areas.App.Models.Layout
@model FooterViewModel
@{
    Layout = null;
}
<div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
    <div class="@(await GetContainerClass()) d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">
                @Model.GetProductNameWithEdition() | v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
            </span>
        </div>
        <div class="nav nav-dark order-1 order-md-2">
        </div>
    </div>
</div>
