@using Homies.RealEstate
@using Homies.RealEstate.Web.Areas.App.Models.Layout
@model FooterViewModel
@{
    Layout = null;
    var theme = await GetTheme();
}
<div class="footer py-4 d-flex flex-lg-column @(theme.BaseSettings.Footer.FixedFooter ? "bg-white" : "") " id="kt_footer">
    <div class="@(await GetContainerClass()) d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">
                @Model.GetProductNameWithEdition() | v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
            </span>
        </div>
        <div class="nav nav-dark order-1 order-md-2">
            <a href="#" target="_blank" class="nav-link px-3">&nbsp;</a>
        </div>
    </div>
</div>
