@model Homies.RealEstate.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<a href="~/" class="text-center mb-10">
    <img src="@Model.GetLogoUrl(ApplicationPath)" alt="" class="max-h-70px"/>
</a>
