
<div class="date-range-filter-container">
    <div class="input-group">
        <input type="text" class="form-control" id="date-range-filter" disabled="disabled">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="btnDateRangeFilterOpen">
                <i class="fa fa-calendar-day p-0" style="color:white;" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
