@using Homies.RealEstate.Web.Resources

@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/morris.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/raphael.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.flot.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.waypoints.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.counterup.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/topojson.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.easypiechart.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/chartist.min.js");
}
<div id="MemberActivity" class="card card-custom MemberActivityContainer h-100">
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Member Activity</span>
        </h3>
        <div class="card-toolbar">
            <button id="refresh-send-attempts-btn" id="refreshMemberActivityButton" class="refreshMemberActivityButton btn btn-outline-brand btn-sm btn-icon btn-icon-md">
                <i class="flaticon2-refresh"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-vertical-center">
                <thead>
                <tr>
                    <th class="p-0" style="width: 50px">Member</th>
                    <th class="p-0" style="width: 150px"></th>
                    <th class="p-0" style="min-width: 150px">Earnings</th>
                    <th class="p-0" style="min-width: 140px">Cases</th>
                    <th class="p-0" style="min-width: 120px">Closed</th>
                    <th class="p-0" style="min-width: 70px">Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="pl-0">
                        <div class="symbol symbol-50 symbol-light mt-2 mr-2">
                            <span class="symbol-label">
                                <img src="~/metronic/assets/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="">
                            </span>
                        </div>
                    </td>
                    <td class="pl-0">
                        <a href="javascript:;" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Brad Simmons</a>
                    </td>
                    <td>
                        $126
                    </td>
                    <td>
                        35
                    </td>
                    <td class="pr-0">
                        58
                    </td>
                    <td class="pr-0">
                        56%
                    </td>
                </tr>
                <tr>
                    <td class="pl-0">
                        <div class="symbol symbol-50 symbol-light mt-2 mr-2">
                            <span class="symbol-label">
                                <img src="~/metronic/assets/media/svg/avatars/002-girl.svg" class="h-75 align-self-end" alt="">
                            </span>
                        </div>
                    </td>
                    <td class="pl-0">
                        <a href="javascript:;" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Jessie Clarcson</a>
                    </td>
                    <td>
                        $359
                    </td>
                    <td>
                        68
                    </td>
                    <td class="pr-0">
                        91
                    </td>
                    <td class="pr-0">
                        26%
                    </td>
                </tr>
                <tr>
                    <td class="pl-0">
                        <div class="symbol symbol-50 symbol-light mt-2 mr-2">
                            <span class="symbol-label">
                                <img src="~/metronic/assets/media/svg/avatars/014-girl-7.svg" class="h-75 align-self-end" alt="">
                            </span>
                        </div>
                    </td>
                    <td class="pl-0">
                        <a href="javascript:;" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Lebron Wayde</a>
                    </td>
                    <td>
                        $146
                    </td>
                    <td>
                        50
                    </td>
                    <td class="pr-0">
                        95
                    </td>
                    <td class="pr-0">
                        24%
                    </td>
                </tr>
                <tr>
                    <td class="pl-0">
                        <div class="symbol symbol-50 symbol-light mt-2 mr-2">
                            <span class="symbol-label">
                                <img src="~/metronic/assets/media/svg/avatars/021-boy-8.svg" class="h-75 align-self-end" alt="">
                            </span>
                        </div>
                    </td>
                    <td class="pl-0">
                        <a href="javascript:;" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">John Doe</a>
                    </td>
                    <td>
                        $391
                    </td>
                    <td>
                        95
                    </td>
                    <td class="pr-0">
                        108
                    </td>
                    <td class="pr-0">
                        71%
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
