<div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
    <h1 class="error-title font-weight-boldest text-info mt-10 mt-md-0 mb-12">
        404
    </h1>
    <p class="font-weight-boldest display-4">
        @L("OopsYouAreLost")
    </p>
    <p class="font-size-h3">
        @L("WeCanNotFindThePage")<br>
        <a href="@Url.Action("Index", "Home")" class="link">@L("HomePage")</a>.
    </p>
</div>
